name: tp1
services:
  rabbitmq:
    container_name: rabbitmq
    build:
      context: ./src/rabbitmq
      dockerfile: Dockerfile
    image: rabbitmq:latest
    command: sh -c "rabbitmq-server > /dev/null 2>&1"
    ports:
      - "5670:5672"
      - "15670:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 10s
      start_period: 15s
      retries: 5
    networks:
      - tp_net

  gateway:
    container_name: gateway
    build:
      dockerfile: ./src/gateway/Dockerfile
    image: gateway:latest
    environment:
      - MAX_CONTROLLER_NODES=3
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ./src/gateway/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - tp_net

  controller1:
    container_name: controller1
    build:
      dockerfile: ./src/controller/Dockerfile
    image: controller:latest
    volumes:
      - ./src/controller/config.yaml:/app/config.yaml
      - ./.storage/controller1:/app/storage
    environment:
      - ID=controller1
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - tp_net

  controller2:
    container_name: controller2
    build:
      dockerfile: ./src/controller/Dockerfile
    image: controller:latest
    volumes:
      - ./src/controller/config.yaml:/app/config.yaml
      - ./.storage/controller2:/app/storage
    environment:
      - ID=controller2
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - tp_net

  controller3:
    container_name: controller3
    build:
      dockerfile: ./src/controller/Dockerfile
    image: controller:latest
    volumes:
      - ./src/controller/config.yaml:/app/config.yaml
      - ./.storage/controller3:/app/storage
    environment:
      - ID=controller3
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - tp_net

  aggregator:
    container_name: aggregator
    build:
      dockerfile: ./src/aggregator/Dockerfile
    image: aggregator:latest
    networks:
      - tp_net
    environment:
      - ID=aggregator
    volumes:
      - ./src/aggregator/config.yaml:/app/config.yaml
      - ./.storage/aggregator:/app/storage
    depends_on:
      rabbitmq:
        condition: service_healthy

  filter1:
    container_name: filter1
    build:
      dockerfile: ./src/filter/Dockerfile
      args:
        BUILD_TAGS: "poison low_prob"
    image: filter:latest
    networks:
      - tp_net
    volumes:
      - ./src/filter/config.yaml:/app/config.yaml
    environment:
      - ID=filter1
    depends_on:
      rabbitmq:
        condition: service_healthy

  filter2:
    container_name: filter2
    build:
      dockerfile: ./src/filter/Dockerfile
      args:
        BUILD_TAGS: "poison low_prob"
    image: filter:latest
    networks:
      - tp_net
    volumes:
      - ./src/filter/config.yaml:/app/config.yaml
    environment:
      - ID=filter2
    depends_on:
      rabbitmq:
        condition: service_healthy

  joiner1:
    container_name: joiner1
    build:
      dockerfile: ./src/joiner/Dockerfile
    image: joiner:latest
    networks:
      - tp_net
    environment:
      - ID=joiner1
    volumes:
      - ./src/joiner/config.yaml:/app/config.yaml
      - ./.storage/joiner1:/app/storage
    depends_on:
      rabbitmq:
        condition: service_healthy

  joiner2:
    container_name: joiner2
    build:
      dockerfile: ./src/joiner/Dockerfile
    image: joiner:latest
    networks:
      - tp_net
    environment:
      - ID=joiner2
    volumes:
      - ./src/joiner/config.yaml:/app/config.yaml
      - ./.storage/joiner2:/app/storage
    depends_on:
      rabbitmq:
        condition: service_healthy

  reducer1:
    container_name: reducer1
    build:
      dockerfile: ./src/reducer/Dockerfile
      args:
        BUILD_TAGS: "poison low_prob"
    image: reducer:latest
    networks:
      - tp_net
    volumes:
      - ./src/reducer/config.yaml:/app/config.yaml
    environment:
      - ID=reducer1
    depends_on:
      rabbitmq:
        condition: service_healthy

  reducer2:
    container_name: reducer2
    build:
      dockerfile: ./src/reducer/Dockerfile
      args:
        BUILD_TAGS: "poison low_prob"
    image: reducer:latest
    networks:
      - tp_net
    volumes:
      - ./src/reducer/config.yaml:/app/config.yaml
    environment:
      - ID=reducer2
    depends_on:
      rabbitmq:
        condition: service_healthy

  group_by1:
    container_name: group_by1
    build:
      dockerfile: ./src/group_by/Dockerfile
      args:
        BUILD_TAGS: "poison low_prob"
    image: group_by:latest
    networks:
      - tp_net
    volumes:
      - ./src/group_by/config.yaml:/app/config.yaml
    environment:
      - ID=group_by1
    depends_on:
      rabbitmq:
        condition: service_healthy

  group_by2:
    container_name: group_by2
    build:
      dockerfile: ./src/group_by/Dockerfile
      args:
        BUILD_TAGS: "poison low_prob"
    image: group_by:latest
    networks:
      - tp_net
    volumes:
      - ./src/group_by/config.yaml:/app/config.yaml
    environment:
      - ID=group_by2
    depends_on:
      rabbitmq:
        condition: service_healthy

networks:
  tp_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
