name: distro
services:
  egg_of_life1:
    container_name: egg_of_life1
    build:
      dockerfile: ./src/egg_of_life/Dockerfile
    image: egg_of_life:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src/egg_of_life/config.yaml:/app/config.yaml
    networks:
      - tp_net
    environment:
      - ID=1
      - NETWORK=distro_tp_net
      - HOST_PROJECT_PATH=${PWD}
      - MAX_CONTROLLER_NODES=0
      - AMOUNT_OF_NODES=3
    
  egg_of_life2:
    container_name: egg_of_life2
    build:
      dockerfile: ./src/egg_of_life/Dockerfile
    image: egg_of_life:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src/egg_of_life/config.yaml:/app/config.yaml
    networks:
      - tp_net
    environment:
      - ID=2
      - NETWORK=distro_tp_net
      - HOST_PROJECT_PATH=${PWD}
      - MAX_CONTROLLER_NODES=0
      - AMOUNT_OF_NODES=3
    
  egg_of_life3:
    container_name: egg_of_life3
    build:
      dockerfile: ./src/egg_of_life/Dockerfile
    image: egg_of_life:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src/egg_of_life/config.yaml:/app/config.yaml
    networks:
      - tp_net
    environment:
      - ID=3
      - NETWORK=distro_tp_net
      - HOST_PROJECT_PATH=${PWD}
      - MAX_CONTROLLER_NODES=0
      - AMOUNT_OF_NODES=3
    
networks:
  tp_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24