name: tp1
services:
  worker_base:
    container_name: worker_base
    build:
      context: .
      dockerfile: ./src/worker_base/Dockerfile
    image: worker_base:latest
    networks:
      - testing_net
    volumes:
      - ./src/worker_base/config.yaml:/config.yaml


# TODO: change to rabbitMQ
networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
