name: tp1
services:
  rabbitmq:
    container_name: rabbitmq
    build:
      context: ./src/rabbitmq
      dockerfile: Dockerfile
    image: rabbitmq:latest
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - tp_net

  gateway_controller:
    container_name: gateway_controller
    build:
      dockerfile: ./src/gateway_controller/Dockerfile
    image: gateway:latest
    networks:
      - tp_net
    volumes:
      - ./src/gateway/config.yaml:/config.yaml
    depends_on:
      - rabbitmq

  gateway:
    container_name: gateway
    build:
      dockerfile: ./src/gateway/Dockerfile
    image: gateway:latest
    networks:
      - tp_net
    volumes:
      - /.data:/app/.data
    depends_on:
      - gateway_controller

networks:
  tp_net:
    driver: bridge
