name: tp1
services:
  gateway_controller:
    container_name: gateway_controller
    build:
      context: .
      dockerfile: ./src/gateway_controller/Dockerfile
    image: gateway_controller:latest
    networks:
      - testing_net
    volumes:
      - ./src/gateway_controller/config.yaml:/config.yaml


# TODO: change to rabbitMQ
networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
