name: distro
services:
  rabbitmq:
    container_name: rabbitmq
    build:
      context: ./src/rabbitmq
      dockerfile: Dockerfile
    image: rabbitmq:latest
    command: sh -c "rabbitmq-server > /dev/null 2>&1"
    ports:
      - '5670:5672'
      - '15670:15672'
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 10s
      start_period: 15s
      retries: 5
    networks:
      - tp_net
    
  egg_of_life:
    container_name: egg_of_life
    build:
      dockerfile: ./src/egg_of_life/Dockerfile
    image: egg_of_life:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.yaml:/app/config.yaml
    networks:
      - tp_net
    environment:
      - NETWORK=distro_tp_net
      - HOST_PROJECT_PATH=${PWD}
    
  gateway1:
    container_name: gateway1
    build:
      dockerfile: ./src/gateway/Dockerfile
    image: gateway:latest
    environment:
      - LEADER_ELECTION_ID=1
      - LEADER_ELECTION_HOST=gateway1
      - LEADER_ELECTION_PORT=9090
    volumes:
      - ./src/gateway/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - tp_net
        
  controller:
    container_name: controller
    build:
      dockerfile: ./src/controller/Dockerfile
    image: controller:latest
    volumes:
      - ./src/controller/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - tp_net
        
  aggregator1:
    container_name: aggregator1
    build:
      dockerfile: ./src/aggregator/Dockerfile
    image: aggregator:latest
    networks:
      - tp_net
    environment:
      - LEADER_ELECTION_ID=1
      - LEADER_ELECTION_HOST=aggregator1
      - LEADER_ELECTION_PORT=9090
      - LEADER_ELECTION_NODES=aggregator1:9090,aggregator2:9090,aggregator3:9090
    volumes:
      - ./src/aggregator/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  aggregator2:
    container_name: aggregator2
    build:
      dockerfile: ./src/aggregator/Dockerfile
    image: aggregator:latest
    networks:
      - tp_net
    environment:
      - LEADER_ELECTION_ID=2
      - LEADER_ELECTION_HOST=aggregator2
      - LEADER_ELECTION_PORT=9090
      - LEADER_ELECTION_NODES=aggregator1:9090,aggregator2:9090,aggregator3:9090
    volumes:
      - ./src/aggregator/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  aggregator3:
    container_name: aggregator3
    build:
      dockerfile: ./src/aggregator/Dockerfile
    image: aggregator:latest
    networks:
      - tp_net
    environment:
      - LEADER_ELECTION_ID=3
      - LEADER_ELECTION_HOST=aggregator3
      - LEADER_ELECTION_PORT=9090
      - LEADER_ELECTION_NODES=aggregator1:9090,aggregator2:9090,aggregator3:9090
    volumes:
      - ./src/aggregator/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  filter1:
    container_name: filter1
    build:
      dockerfile: ./src/filter/Dockerfile
    image: filter:latest
    networks:
      - tp_net
    volumes:
      - ./src/filter/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  filter2:
    container_name: filter2
    build:
      dockerfile: ./src/filter/Dockerfile
    image: filter:latest
    networks:
      - tp_net
    volumes:
      - ./src/filter/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  joiner1:
    container_name: joiner1
    build:
      dockerfile: ./src/joiner/Dockerfile
    image: joiner:latest
    networks:
      - tp_net
    volumes:
      - ./src/joiner/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  joiner2:
    container_name: joiner2
    build:
      dockerfile: ./src/joiner/Dockerfile
    image: joiner:latest
    networks:
      - tp_net
    volumes:
      - ./src/joiner/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  reducer1:
    container_name: reducer1
    build:
      dockerfile: ./src/reducer/Dockerfile
    image: reducer:latest
    networks:
      - tp_net
    volumes:
      - ./src/reducer/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  reducer2:
    container_name: reducer2
    build:
      dockerfile: ./src/reducer/Dockerfile
    image: reducer:latest
    networks:
      - tp_net
    volumes:
      - ./src/reducer/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  group_by1:
    container_name: group_by1
    build:
      dockerfile: ./src/group_by/Dockerfile
    image: group_by:latest
    networks:
      - tp_net
    volumes:
      - ./src/group_by/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  group_by2:
    container_name: group_by2
    build:
      dockerfile: ./src/group_by/Dockerfile
    image: group_by:latest
    networks:
      - tp_net
    volumes:
      - ./src/group_by/config.yaml:/app/config.yaml
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  client1:
    container_name: client1
    entrypoint: ["/app/app", "t1"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output1:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client2:
    container_name: client2
    entrypoint: ["/app/app", "t2"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output2:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client3:
    container_name: client3
    entrypoint: ["/app/app", "t3"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output3:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client4:
    container_name: client4
    entrypoint: ["/app/app", "t4"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output4:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client5:
    container_name: client5
    entrypoint: ["/app/app", "t1"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output5:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client6:
    container_name: client6
    entrypoint: ["/app/app", "t2"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output6:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client7:
    container_name: client7
    entrypoint: ["/app/app", "t3"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output7:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client8:
    container_name: client8
    entrypoint: ["/app/app", "t4"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output8:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client9:
    container_name: client9
    entrypoint: ["/app/app", "t1"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output9:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
  client10:
    container_name: client10
    entrypoint: ["/app/app", "t2"]
    build:
      dockerfile: ./src/client/Dockerfile
    image: client:latest
    networks:
      - tp_net
    volumes:
      - ./.data:/app/.data
      - ./.output10:/app/.output
      - ./src/client/config.yaml:/app/config.yaml
    depends_on:
      gateway1:
        condition: service_healthy
        
networks:
  tp_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24